In [3]:
#Buil in Data Types
"""
data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType


"""

10

In [5]:
#Getting the tpe of data already defined

x = 10
print(type(x))

<class 'int'>

In [6]:
#Setting the data type   INT
x = 10
print(type(x))
print(x)

<class 'int'>
10

In [7]:
#Setting the data type   FLOAT
x = 10.00
print(type(x))
print(x)

<class 'float'>
10.0

In [8]:
#Setting the data type   STRING
x = "Manoj"
print(type(x))
print(x)

<class 'str'>
Manoj

In [9]:
#Setting the data type   COMPLEX
x = 1j
print(type(x))
print(x)

<class 'complex'>
1j

In [10]:
#Setting the data type   LIST
x = ["apple", "banana", "cherry"]
print(type(x))
print(x)

<class 'list'>
['apple', 'banana', 'cherry']

In [11]:
#Setting the data type   TUPLE
x = ("apple", "banana", "cherry")
print(type(x))
print(x)

<class 'tuple'>
('apple', 'banana', 'cherry')

In [12]:
#Setting the data type   SET
x = {"apple", "banana", "cherry"}
print(type(x))
print(x)

<class 'set'>
{'cherry', 'banana', 'apple'}

In [13]:
#Setting the data type   DICTIONARY
x = {"name" : "John", "age" : 36}
print(type(x))
print(x)

<class 'dict'>
{'name': 'John', 'age': 36}

In [14]:
#Setting the data type   RANGE
x = range(6)
print(type(x))
print(x)

<class 'range'>
range(0, 6)

In [15]:
#Setting the data type   FROZENSET
x = frozenset({"apple", "banana", "cherry"})
print(type(x))
print(x)

<class 'frozenset'>
frozenset({'cherry', 'apple', 'banana'})

In [17]:
#Setting the data type   BOOLEAN
x = True
print(type(x))
print(x)

<class 'bool'>
True

In [18]:
#Setting the data type  BYTES
x = b"HELLO"
print(type(x))
print(x)

<class 'bytes'>
b'HELLO'

In [19]:
#Setting the data type  BYTEARRAY
x = bytearray(5)
print(type(x))
print(x)

<class 'bytearray'>
bytearray(b'\x00\x00\x00\x00\x00')

In [20]:
#Setting the data type   MEMORYVIEW
x = memoryview(bytes(5))
print(type(x))
print(x)

<class 'memoryview'>
<memory at 0x000001E5D43F1640>

In [21]:
#Setting the data type   NONETYPE
x = None
print(type(x))
print(x)

<class 'NoneType'>
None

In [22]:
#setting the specific datatype
x = int(5)
print(type(x))
print(x)

<class 'int'>
5

In [27]:
#Typecasting
"""
Type Casting is used to change the type of variable from one data type to other data type example as below
"""
x = int(5)
print(type(x))
print(x)

print("Output after type casting")
x = 5
y = str(x)
print(type(y))
print(y)

<class 'int'>
5
Output after type casting
<class 'str'>
5

In [29]:
#casting
"""
There may be times when you want to specify a type on to a variable. This can be done with casting. 
Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal 
(by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal 
(providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals
"""

#Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x,y,z)

1 2 3

In [30]:
#Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x,y,z,w)

1.0 2.8 3.0 4.2

In [33]:
#Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
w = "Manoj"
print(x)
print(y)
print(z)
print(w)

s1
2
3.0
Manoj